.edge {
  outline: none;

  &:focus {
    outline: none;
  }
}

.dummy-edge {
  display: none;
  stroke: #000000;
  stroke-width: 1;
  visibility: visible;
}

.dummy-path {
  stroke: #2795EE;
  stroke-width: 1;
  visibility: visible;
  cursor: default;
}

.stroke-dasharray {
  stroke-dasharray: 3 3;
}

.edge-hide {
  outline: none;
  stroke-width: 8;
  visibility: visible;
  opacity: 0;
  cursor: crosshair;
  &:hover {
    stroke-width: 8;
    cursor: crosshair;
  }
  &:focus {
    stroke-width: 8;
    cursor: crosshair;
  }
}

.hide {
  stroke: #ffffff;
}

.hide-edge-on-menu-items {
  display: none;
}

.hide-edge-on-parent-scroll {
  display: none;
}

.dash {
  stroke-dasharray: 4;
}

.emphasizePath {
  stroke: #ff2600;
  stroke-width: 1.4px;
}

.emphasizeArrow {
  fill: #ff2600;
}