/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  //background: #f1f1f1;
  background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  //background: #888;
  background: #c5c5c5;
  border-radius: 10px;
  border: #f5f5f5 solid 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  overflow: hidden;
}

// CSS container svg
// .wrap-container-area {
  .container-svg {
    top: 0;
    bottom: 0;
    touch-action: none;
    overflow: auto;
    position: absolute;

    .svg {
      width: 100%;
      min-height: 2000px;
    }
  }

  .left-svg {
    left: 0;
    width: calc(100% / 3);
    border-right: 1px solid #c5c5c5;
  }

  .middle-svg {
    left: calc(100% / 3);
    width: calc(100% / 3);
    border-right: 1px solid #c5c5c5;
  }

  .right-svg {
    left: calc(100% - (100% / 3));
    width: calc(100% / 3);
  }

  .connect-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }
// }

.graphContainer {
  right: 0px;
  left: 0px;
  // top: 10px;
  // bottom: 5px;
  top: 0px;
  bottom: 0px;
  touch-action: none;
  overflow: auto;
  position: absolute;

  .svg {
    width: 100%;
    height: 100%;
    display: block;
    min-width: 1900px;
    min-height: 2000px;
    position: absolute;
  }
}

// CSS container file management
.container-file {
  position: absolute;
  bottom: 0;
  width: 100%;

  .fa-folder-open-o:hover {
    color: #66afe9;
  }

  .icon-folder-file-mgmt {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 10px;
    right: 12px;
    font-size: 30px;
  }

  .file-mgmt {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 11px 24px 3px;
    position: relative;
    background-color: #ffffff;
    display: none;
    z-index: 10000;

    .form-horizontal {
      margin: 10px 0;

      .group-type-file-input {
        .form-control {
					float: left;
        }
      }
    }
  }
}

.hidden-object {
  display: none;
}
