.vertex_content {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-size: 13px;
  background: #ffffff;
}

.header_name {
  margin: 0;
  padding: 10px 0px;
  text-align: center;
  border-bottom: 1px black solid;
  font-weight: 600;
  font-size: 13px;
}

.vertex_data {
  div {
    height: 25px;
    border-bottom: 1px solid #000000;
    display: inline-flex;
    width: 100%;
    line-height: 25px;

    .key{
      width: 85px;
      text-align: right;
      font-weight: 300;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 85px;
    }

    .data{
      font-weight: 300;
      width: calc(100% - 85px);
      margin-left: 5px;
      border: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: calc(100% - 85px);
    }
  }
}

.drag_connect {
  &:hover {
    outline: -webkit-focus-ring-color auto;
  }

  &:focus {
    outline: -webkit-focus-ring-color auto;
  }
}
