.vertex_content {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-size: 13px;
	background: #ffffff;
}

.content_header_name {
	border-bottom: 1px black solid;
}
.header_name {
  margin: 0px;
  padding: 10px 0px 0px 0px;
  text-align: center;
  font-weight: 600;
	font-size: 13px;
}

.vertex_data {
  div {
    height: 25px;
    border-bottom: 1px solid #000000;
    display: inline-flex;
    width: 100%;
    line-height: 25px;

    .key{
      width: 157px;
      text-align: left;
      margin-left: 1px;
      font-weight: 300;
      font-size: 9px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 157px;
      
    }

    .data{
      font-weight: 300;
      font-size: 9px;
      width: calc(100% - 150px);
      margin-left: 5px;
      margin-right: 1px;
      text-align: right;
      border: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: calc(100% - 150px);
    }

    .has_left_connect{
      margin-left: 13px;
      width: 145px;
      max-width: 145px;
    }
    
    .has_right_connect{
      margin-right: 13px;
      width: calc(100% - 162px);
      max-width: calc(100% - 162px);
    }
  }
}

.drag_connect {
  &:hover {
    outline: -webkit-focus-ring-color auto;
  }

  &:focus {
    outline: -webkit-focus-ring-color auto;
  }
}

.marked_connector {
  fill: #ff4828
}
