
.boundary{
  cursor:pointer;
  //border:solid 1px #652a82;
  padding: 8px;
}

.header_boundary {
  background: #E1D5E7;
  border-bottom:solid 1px #652a82;
  margin: 0;
  padding: 8px 0px;
  text-align: center;
  font-weight: 600;
  float:left;
}

.boundary_right {
  border:solid 1px #652a82;
  border-left:none;
  background: white;
  margin: 0;
  padding: 0px;
  text-align: center;
  font-weight: 600;
  float:right;
  width:20px;
  height:20px;
}

.boundary_data{
  //border: solid 1px #652a82;
}

/* menu header via data attribute */
.data-title:before {
  content: attr(data-menutitle);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: #DDD;
  padding: 2px;
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
}
.data-title li:first-child {
  margin-top: 20px;
}

.input-header-boundary {
  padding: 0 5px;
  width: 150px;
  background: #E1D5E7;
  border: none;
}
