.edge{
  stroke: black;
  stroke-width: 1;
  visibility: visible;
  cursor: crosshair;
  &:hover {
    stroke: #2795EE;
    cursor: crosshair;
  }
  &:focus {
    stroke: #2795EE;
    cursor: crosshair;
  }
}

.dummy-edge{
  display: none;
  stroke: black;
  stroke-width: 1;
  visibility: visible;
  //cursor: pointer;
}

.dummy-path {
  display: none;
  stroke: #2795EE;
  stroke-width: 1;
  visibility: visible;
  cursor: default;
}

.solid{
  stroke: black;
}

.dash{
  stroke-dasharray: 4;
}
