.my-group{
  .form-control{
    width:50%;
  }
}

label {
  font-weight: 300 !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}

.hight_light {
  border: solid 1px #ac2925 !important;
}

.hidden-object {
  display: none;
}
