.active {
  border: solid 2px #3c763d;
}

.vertex_content {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.header_name {
  margin: 0;
  padding: 10px 0px;
  text-align: center;
  border-bottom: 1px black solid;
  background: #E1D5E7;
  font-weight: 600;
}

.vertex_data {

}

.vertex_data div {
  height: 25px;
  border-bottom: 1px solid black;
  display: inline-flex;
  width: 100%;
  line-height: 25px;
}

.vertex_data div .key{
  width: 52px;
  text-align: right;
}

.vertex_data div .data{
  width: calc(100% - 55px);
  margin-left: 7px;
  border: none;
}

.interaction_full, .interaction_left, .interaction_right{
  height: 25px;
  cursor:pointer;
}

.interaction_full:before, .interaction_left:before{
  margin-top: 8px;
  margin-left: -8px;
  border:solid 1px #652a82;
  width:0.5em;
  height:0.5em;
  border-radius:0.5em;
  content:"";
}

.interaction_full:after, .interaction_right:after{
  margin-top: 8px;
  margin-right: -8px;
  border:solid 1px #652a82;
  width:0.5em;
  height:0.5em;
  border-radius:0.5em;
  content:"";
}

.boundary{
  cursor:pointer;
  border:solid 1px #652a82;
  padding: 8px;
}

.header_boundary {
  background: #E1D5E7;
  border:solid 1px #652a82;
  border-bottom:none;
  margin: 0;
  padding: 8px 0px;
  text-align: center;
  font-weight: 600;
  float:left;
}

.boundary_right {
  border:solid 1px #652a82;
  border-left:none;
  background: white;
  margin: 0;
  padding: 0px;
  text-align: center;
  font-weight: 600;
  float:right;
  width:20px;
  height:20px;
}

.boundary_data div {
  height: 25px;
  border-bottom: 1px solid black;
  display: inline-flex;
  width: 100%;
  line-height: 25px;
}


